.login-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .login-inputs {
            width: 300px;

            .form-group {
                display: flex;

                .form-icon{
                    font-size: 2em;
                    padding-right: 15px;
                    color: $teal;
                }
            }
        }
    }
}